<title><%= yield(:title).presence || "Default title" %></title>
<meta name="keywords" content="<%= yield(:meta_keywords).presence || "AB WEB LILLE - Création, optimiation et amélioration de site internet" %>" />
<meta name="description" content="<%= yield(:meta_description).presence || "AB Web Lilles est une agence digitale qui vous aide à la création, à l'amélioration et à l'optimisation de votre site web." %>" />
