.home-btn {
  color: white !important;
  background-color: $my-red;
  border: 1px solid $my-red;
  &:hover {
    border: 1px $my-red solid;
    background-color: transparent !important;
    color: $my-red !important;
  }
}
